 /* .boton {
   background-color: #04AA6D;
   border: 2px solid black;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin-bottom: 30px;
 }

 .slider {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
 }

 .nodosCanvas {
   display: flex;
   flex-direction: row;
   gap: 100px;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
 }

 .prueba {
   color: #04AA6D;
 }a

 .selected {
   color: rgb(101, 0, 114);
   font-size: 30px;
   font-weight: 600;
 }

 .pantalla {
   display: block;
 }

 .inputs {
   display: flex;
   flex-direction: row;
   gap: 50px;
   align-items: center;
   align-content: center;
   justify-content: center;
 }

 .botones {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   text-align: center;

 } */