 .boton {
   background-color: #04AA6D;
   border: 2px solid black;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 10px;
 }

 .slider 
 {
  margin-left: 10px;
  margin-right: 10px;
 }

 .nodosCanvas {
  display: flex;
  flex-direction: row;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
 }
 .canvas {
  flex-grow: 1;
 }

 .prueba {
  color: #04AA6D;
 }

 .pantalla { 
  display: block;
 }

 .selected {
  color: rgb(101, 0, 114);
  font-size: 30px;
  font-weight: 600;
 }